.screens 
 {
	display: block;
	width: 350px;
	height: 400px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
}
.screens img {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s;
	transition: bottom 11s;
}

.screen0 img {
	bottom: -550px;
}

.screen1 img {
	bottom: -787px;
}

.screen2 img {
	bottom: -724px;
}

.screens:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}

.computer-image {
	opacity: 0.4;
}

.computer-image {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
.computer-image:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}